@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
	animation: animation-fade-in 1.5s;
}

@keyframes animation-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.growDown {
	animation: growDown 0.5s;
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

.tilt {
	animation: tilt 7s ease-in-out infinite;
}

@keyframes tilt {
	0% {
		transform: rotateZ(0deg);
	}
	15% {
		transform: rotateZ(-45deg);
	}
	35% {
		transform: rotateZ(45deg);
	}
	45% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
